# Ignore the node_modules directory
/node_modules

# Ignore build and dist directories
/build
/dist

# Ignore environment configuration files
.env
.env.local

# Ignore editor/IDE-specific files and directories
.vscode/
.idea/
.sublime-project
.sublime-workspace

# Ignore log files
logs/
*.log

# Ignore user-specific files
.DS_Store
Thumbs.db

# Ignore dependency lock files
package-lock.json
yarn.lock

# Ignore test output
/coverage

# Ignore caching directories
.cache
